.fullscreen-menu {
  background: #333537;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 100%;
  transition: all 0.4s;
  // right: 0;
  // bottom: 0;
  // overflow: hidden;
  // display: none;

  &--active {
    left: 0;
    opacity: 1;
    // display: flex;
  }
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: 42px;
  right: 42px;
}

.fullscreen-menu__close-icon {
  width: 20px;
  height: 20px;
  fill: #c2c2c3;

  &:hover {
    fill: $yellow-hover;
  }
}

.body--active-menu {
  overflow: hidden;
}
