.parameters {
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include tablets {
    display: none;
  }
}

.parameters__button {
  border-radius: 4px;
}

.parameters__button-icon {
  margin-bottom: 24px;
}

.parameters__button-icon-elem {
  fill: #3a587e;
  width: 90px;
  height: 90px;
}

.parameters {
  &:hover {
    .parameters__button-icon-elem {
      fill: #3465a3;
    }
    .parameters__dropdown {
      left: 100%;
      opacity: 1;
    }
  }
}

.parameters__dropdown {
  color: #000000;
  position: absolute;
  top: 0;
  width: 273px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 26px 25px 26px 30px;

  left: -5000px;
  opacity: 0;
  transition: opacity 0.3s;

  //для того чтобы в дропдаун можно было попасть и по диагонали
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 50%;
    width: 30px;
    left: -29px;
  }
}

.parameters__table {
  width: 100%;
}

.parameters__icon {
  width: 32px;
  height: 32px;
}

.parameters__table-row {
  border-bottom: 15px solid transparent;

  &:last-child {
    border-bottom: 0;
  }
}

.parameters__table-cell {
  vertical-align: middle;
  text-align: right;
  font-weight: 400;
}

.parameters__text-container {
  padding-left: 10px;
  text-align: left;
  font-weight: 500;
}
.parameters__text {
  font-size: 16px;
}
