.product__container {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.product__parameters {
  margin-bottom: 20px;

  // @include tablets {
  //   display: none;
  // }
}

.product__col {
  width: 50%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-1 {
    width: 60%;
    @include tablets {
      width: 50%;
    }
  }
  @include tablets {
    width: 80%;
    margin-right: 0;

    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include phones {
    width: 87%;
  }
  &:last-child {
    margin-right: 0;
  }

  @include mobileSM {
    width: 90%;
  }
}

.product__image {
  position: relative;
  display: flex;
  justify-content: center;
}

.product__image-bg {
  width: 396px;
  height: 378px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ececec;

  @include tablets {
    width: 307px;
    height: 293px;
    transform: translate(-50%, -50%) scale(0.9);
  }

  @include phones {
    // width: 162px;
    // height: 154px;
    transform: translate(-50%, -50%) scale(0.8);
  }

  @include mobileSM {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
.product__image-elem {
  width: 150px;
  height: 535px;
  display: block;
  transform: rotate(30deg);

  @include tablets {
    // width: 116px;
    // height: 414px;
    transform: rotate(30deg) scale(0.6);
  }

  @include phones {
    // width: 92px;
    // height: 329px;
    transform: rotate(30deg) scale(0.6);
  }

  @include mobileSM {
    // width: 64px;
    // height: 228px;
    transform: rotate(30deg) scale(0.5);
  }
}

.product__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  font-weight: bold;
  margin-bottom: 24px;
  margin-right: -20px;
  color: #0d0d0d;
  text-transform: uppercase;

  @include tablets {
    font-size: 30px;
    letter-spacing: -0.1px;
    margin-right: 0;
    margin-top: -130px;
    margin-bottom: 14px;
  }

  @include phones {
    padding: 0;
  }

  @include mobileSM {
    margin-top: -150px;
  }
}

.product__text {
  margin-bottom: 23px;
  line-height: 1.2;
  @include tablets {
    font-size: 17px;
    margin-bottom: 18px;
  }
  @include phones {
    font-size: 16px;
    margin-bottom: 16px;
  }
  @include mobileSM {
    font-size: 14px;
  }
}

.product__values-block {
  @include tablets {
    text-align: right;
    padding-right: 50px;
    &:last-child {
      padding-right: 0;
    }
    &--left {
      text-align: left;
    }
  }

  &--right {
    text-align: right;

    @include tablets {
      text-align: left;
    }
  }

  @include phones {
    text-align: center;
    padding-right: 20px;
  }

  @include mobileSM {
    padding-right: 10px;
  }
}

.product__values-title {
  @include tablets {
    margin-bottom: -6px;
  }
}

.product__values-amount {
  font-weight: bold;
  color: #333333;
  @include mobileSM {
    margin-bottom: 6px;
  }
}

.product__values-rub {
  color: #0d0d0d;
  font-size: 60px;
  font-weight: 300;
  margin-right: -60px;

  @include tablets {
    margin-right: 0;
    font-size: 56px;
    letter-spacing: -2px;
  }

  @include phones {
    font-size: 50px;
  }

  @include mobileSM {
    font-size: 36px;
  }
}
