.products-slider {
  position: relative;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}

.product-slider__arrow {
  background: url("./img/icons/right.svg") center center no-repeat;
  background-size: contain;
  display: block;
  width: rem(24px);
  height: rem(40px);
  position: absolute;
  top: 50%;
  z-index: 10;

  &--direction--next {
    right: 0;

    @include tablets {
      right: 10%;
    }
    @include phones {
      right: 2%;
    }
  }

  &--direction--prev {
    left: 0;
    transform: rotate(-180deg);

    @include tablets {
      left: 10%;
    }

    @include phones {
      left: 2%;
    }
  }

  @include tablets {
    top: 35%;
  }
}
