$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;
$mobileSM: 375px;
//colors
$yellow: #fedb3f;
$yellow-hover: #ffd517;
$grey: #f8faf9;
$black: #666666;
$black-title: #292929;

//z-indexes
$z-fixed-menu: 100;

@import "media";

//normalize
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,400i,700&display=swap&subset=cyrillic');
// @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
@import "layout";

//blocks
@import "./blocks/*.scss";
// @import "blocks/hero";
// @import "blocks/header";
// @import "blocks/menu";
// @import "blocks/phone-number";
// @import "blocks/features";
// @import "blocks/feature";
// @import "blocks/btn";
// @import "blocks/section";
// @import "blocks/headline";
// @import "blocks/benefits";
// @import "blocks/benefit";
// @import "blocks/reviews";
// @import "blocks/reviews-switcher";
// @import "blocks/interactive-avatar";
// @import "blocks/order-section";
// @import "blocks/form";
// @import "blocks/radio";
// @import "blocks/map";
// @import "blocks/fixed-menu";
// @import "blocks/footer";
// @import "blocks/hamburger";
// @import "blocks/fullscreen-menu";
// @import "blocks/products-section";
// @import "blocks/products-slider";
// @import "blocks/parameters";
// @import "blocks/products";
// @import "blocks/product";
// @import "blocks/team";
// @import "blocks/modal";
// @import "blocks/products-menu-section";
// @import "blocks/products-menu";
// @import "blocks/player";
